/* 
*
* Easy front-end framework
*
* Copyright (c) 2011 Alen Grakalic
* http://easyframework.com/license.php
*
* supported by Templatica (http://templatica.com)
* and Css Globe (http://cssglobe.com)
*
*/

/*

for more info about the strucure of this file 
please read http://easyframework.com/documentation.php

*/

/* HTML elements  */		

	html, body{margin:0;padding:0;width:100%;height:100%;overflow:hidden;}
	h1, h2, h3, h4, h5, h6{
		font-weight:normal;
		margin:0;
		line-height:1em;
		}	
	h1{font-size:2em;margin-bottom:.5em;}	
	h2{font-size:1.75em;margin-bottom:.5142em;padding-top:.2em;}	
	h3{font-size:1.4em;margin-bottom:.7em;padding-top:.3em;line-height:20pt;}
	h4{font-size:1.2em;margin-bottom:.6em;}
	h5,h6{font-size:1em;margin-bottom:.5em;font-weight:bold;}
	
	p, blockquote, ul, ol, dl, form, table, pre{display:block;line-height:inherit;margin:0 0 1.5em 0;}
	article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary{display:block;}
	ul, ol, dl{padding:0;}
	ul ul, ul ol, ol ol, ol ul, dd{margin:0;}
	li{margin:0 0 0 2em;padding:0;display:list-item;list-style-position:outside;}	
	blockquote, dd{padding:0 0 0 2em;}
	pre, code, samp, kbd, var{font:100% mono-space,monospace;}
	pre{overflow:auto;}
	abbr, acronym{
		text-transform:uppercase;
		border-bottom:1px dotted #000;
		letter-spacing:1px;
		}
	abbr[title], acronym[title]{cursor:help;}
	small{font-size:.9em;}
	sup, sub{font-size:.8em;}
	em, cite, q{font-style:italic;}
	img{border:none;}			
	hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:0 0 1.5em 0;padding:0;}	
	table{width:100%;border-collapse:collapse;}
	th,caption{text-align:left;}	
	label{ margin:5px 0;display:block;}
	fieldset{margin:0;padding:0;border:none;}
	legend{font-weight:bold;}
	input, select{vertical-align:middle;}
	input[type="radio"],input[type="checkbox"], .radio, .checkbox{margin:0 .25em 0 0;}
	.tdSeparator
	{
	    border:0;
	    border-bottom:1px solid #CCC;
        border-spacing:0;
	    padding:6px 0em;
	}
	.tdEmpty
	{
	    border:0;
	    height:10px;
	}

/* //  HTML elements */	

/* common */		
	
	.left{float:left;margin-right:1em;}
	.right{float:right;margin-left:1em;}
	.center{text-align:center;}
	
	.clear{clear:both;}
	.block{display:block;clear:both;}
	.first{margin-left:0 !important;}
	.last{margin-right:0 !important;}
	.top{margin-top:0 !important;}
	.bottom{margin-bottom:0 !important;}	
	.hidden, .print{display:none;}
	.graphic{
		margin:0;
		padding:0;
		display:block;
		overflow:hidden;
		text-indent:-8000px;
		}

/* // common */			

/* base */
	
	body, table, input, textarea, select, li, button{
		font:0.9em Helvetica, Arial, Sans-Serif;
		line-height:1.5em;
		color:#333;
		}		
	body{
		background:#fff;
		text-align:center;
		overflow:hidden;
		
		}	
	a, a:visited{
		text-decoration:none;
		color:#06C;
		}
	a:hover{color:#999;}
	ins{text-decoration:none;color:#900;font-style:italic;}
	code{color:#555;}
	pre{
		margin-left:2em;
		padding-left:2em;
		border-left:1px solid #ccc;
		}
	blockquote{
		margin-left:2em;
		border-left:1px solid #ccc;
		font-style:italic;
		}	
	dt{font-weight:bold;}
	th, td{padding:.5em 1em;line-height:1.5em;}		
	th{background:#eee;}
	td{border-bottom:1px solid #eee;}
	caption{font-style:italic;color:#777;margin:.5em 0;font-size:1.1em;}	
	fieldset{
		border:1px solid #ccc;
		padding:1em 2em;
		margin:0 0 1.5em 0;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;		
		}
	legend{padding:2px 5px;}	
	form div{margin:.5em 0;clear:both;overflow:hidden;}
	form div.col{clear:none;}form div.first{clear:both;}
	
	input[type="text"], input[type="password"], textarea, .field, .area, select{
		border:1px solid #aaa;
		padding:5px;
		background:#fff;
		width:300px;
		line-height:1em;
		margin:0;
		}
	select{width:312px;}
	textarea, .area{overflow:auto; height:150px; width:400px;}
	input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus, .focus{background:#f5f5f5;outline:none;}
	.submit{}
	button{
		border:none;
		background:#555;
		color:#fff;
		padding:0 2.5em;
		height:2em;
		line-height:2em;
		cursor:pointer;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;		
	}
	.buttonCancel
	{
		color:#000;
		background:#EEE;
		text-shadow: 1px 1px 0px white;
		border:1px solid #CCC;
		
	}
		
	.note, .success, .error{display:block;}
	.error{color:#900;}
	.success{color:#060;}
	.note{font-weight:bold;}
	.notvalid{border:1px solid #900 !important;}

/* base */

/* layout */

	#container, .inner{	
		margin:0;
		width:920px;
		width:100%;
		text-align:left;
		position:relative;
		}
	#header{
		position:relative;
		border-bottom: 1px solid #E5E5E5;
		background-color: #F1F1F1;
		width:100%;
		height:74px;
		}	
	#footer{
		position:relative;
		clear:both;
		}	
	
	.contentMiddle{
		clear:both;
		padding:1em 0;
		padding:0;
		overflow:hidden;
		
		}
	.main
	{
	    width:220px;
	    display:block;
	    float:left;
	    overflow:hidden;
	   
    }
	.secondary
	{
	    width:280px;
	    overflow:auto;
	    display:block;
	    position:relative;
	    overflow:hidden;
	    
	}
	.tertiary{}
	.quaternary{}
	
	/* percentage based grid */
		
		/* 
			class name .cols used for column containers
			class name .col used for individual columns
		*/
		
		.cols{margin-bottom:1.5em;overflow:hidden;} /* main column container class */
		.col, .col2, .col3, .col4, .col5{
			float:left;
			display:inline;	
			margin-left:2%;
			}		
		.col{width:49%;} /* 2 equal width columns - default */
		.cols3 .col{width:32%;} /* 3 equal width columns */
		.cols4 .col{width:23.5%;} /* 4 equal width columns */
		.cols5 .col{width:18.4%;} /* 5 equal width columns */
		.cols6 .col{width:15%;} /* 6 equal width columns */
		
		/* double width columns */
		.cols3 .col2{width:66%;} 
		.cols4 .col2{width:49%;} 
		.cols5 .col2{width:38.8%;} 
		.cols6 .col2{width:32%;} 
		
		/* triple width columns */
		.cols4 .col3{width:74.5%;} 
		.cols5 .col3{width:59.2%;} 
		.cols6 .col3{width:49%;} 
		
		/* quadruple width columns */
		.cols5 .col4{width:79.6%;} 
		.cols6 .col4{width:66%;} 
		
		/* quintuple width columns */
		.cols6 .col5{width:83%;} 	
		
	/* percentage based grid */

/* // layout */

/* navigation */
	
		#nav, #nav ul, #nav li{margin:0;}
		#nav ul{}
		#nav li{
			float:left;
			display:inline;
			position:relative;
			line-height:32px;
			height:32px;
			margin-right:2em;
			list-style:none;
			}	
		#nav a{}
		
		/* second level */
		#nav ul{
			position:absolute;
			left:0;
			top:32px;
			padding:5px 10px;
			width:200px;	
			background:#fff;
			display:none;
			z-index:1000;
			}
		#nav ul li{
			float:none;
			display:block;
			}
				
/* //navigation */

/* header */

	#header h1{
		line-height:3em;
		height:3em;
		margin:0;
		}
	#header h1 a{		
		}		

/* // header */
	
/* content */

	.contentMiddle a, .contentMiddle a:visited{
		text-decoration:underline;
		}
	
/* // content */

/* footer */
	
	#footer a, #footer a:visited{
		text-decoration:underline;
		}
	
/* // footer */

/* clearfix (use class name "block") */

	.inner:after, .contentMiddle:after, .cols:after, .block:after{
		content:"."; 
		display:block; 
		height:0; 
		clear:both; 
		visibility:hidden;
		}
	.inner, .contentMiddle, .cols, .block{display:block;min-height:1%;}
	* html .inner, * html .contentMiddle, * html .cols, * html .block{height:1%;}

/* // clearfix */

/* easy elements */

	#easy_tooltip{
		border:1px solid #e1e1e1;
		padding:2px 10px;
		background:#f5f5f5;
		}
	#easy_tooltip span{} /* extra element */
	
	#easy_popup{ /* popup overlay */
		background:#000;
		}
	#easy_popup_preloader{ /* popup preloader */
		padding:10px;
		background:#fff;
		color:#333;
		}
	#easy_popup_content{ /* popup window */
		padding:10px;
		background:#fff;
		color:#333;
		}
	#easy_popup_content .caption{padding-top:10px;}	
	#easy_popup_close{ /* popup close button */
		position:absolute;
		float:left;
		left:0;
		top:-24px;
		color:#fff;
		cursor:pointer;
		}	
	#easy_popup_gallery{ /* popup gallery navigation */
		position:absolute;
		float:left;
		left:0;
		bottom:-24px;
		color:#fff;
		cursor:pointer;
		}	
	#easy_popup_prev{margin-right:5px;}
	#easy_popup_next{}
	#easy_popup_counter{ /* popup gallery counter */
		position:absolute;
		float:left;
		right:0;
		bottom:-24px;
		color:#fff;
		cursor:pointer;
		}
	
/* // easy elements 
*/
#logo
{
    float:left;
    width:185px;
    border:0px solid red;
    
}
#logo img
{
    margin:5px 0 0 15px;
}

ul.list{
    margin:45px 0 0 0;
    padding:0;
    padding:0px 0px 0px 0px;
    border-top:1px solid #ccc;
    border:0;
    width:90%;
    
    
}	
ul.list li{
	margin:0;
	padding:.5em 0;
	padding:0;
	list-style:none;
	border-bottom:1px solid #ccc;
	border:0;
	
	}
	
ul.list li a
{
    padding:10px 0 10px 7px;
    display:block;
    text-decoration:none;
	color:#000;
	border-left:5px solid white;	
}
ul.list li a:hover
{
    background-color:#E5E5E5;
}
ul.list img
{
    margin:-6px 16px 0px 14px;
    float:left;
}


/*******************************************************/
form#searchForm{
	margin:0;
	padding:24px 30px 0em 35px;
	background:#f1f1f1;
	float:left;
	/*
	position:absolute;
	top:2em;
	right:0;*/
	}		
#searchForm .field{
	border:1px solid #999;
	padding:5px;
	width:400px;
	float:left;
	}		
#searchForm button{
	display:inline;
	float:left;
	background:#ccc; /* place search icon here */
	height:26px;
	width:26px;
	margin-left:5px;
	}
#userInfo
{
    text-align:right;
    width:auto;
    position:absolute;
    right:30;
    top:18px;
}

#userInfo img
{
    border:1px solid #ccc;
    vertical-align:middle;
    margin-left:15px;
}

/*********************************************/
.panel{
	
	width:100%;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	opacity: 0;
	z-index:2;
	/*
	-webkit-transition: opacity .6s ease-in-out;
	-moz-transition: opacity .6s ease-in-out;
	-o-transition: opacity .6s ease-in-out;
	-ms-transition: opacity .6s ease-in-out;
	transition: opacity .6s ease-in-out;*/
	padding:18 0 0 0;
	border:0px solid red;
	display:none;
	
}
.panel:target{
	opacity: 1;
	display:block;
}
/*
#notificaciones:target ~ #link-notificaciones,
#trafico:target ~ #link-trafico,
#impuestos:target ~ #link-impuestos,
#justicia:target ~ #link-justicia,
#educacion:target ~ #link-educacion,
#trabajo:target ~ #link-trabajo,
#seguridadsocial:target ~ #link-seguridadsocial,
link-datospersonales:target ~ #link-seguridadsocial
{
	background: #000;
	display:none;	
}
*/
/**************************************************************************/
.tabs{
	margin:18px 0 0 0;
	}
.tabs li{
	float:left;
	margin:0 2px 0 0;
	list-style:none;
	}
.tabs li a{
	float:left;
	line-height:30px;
	height:30px;
	padding:0 20px;
	text-decoration:none !important;
	border:1px solid whiteSmoke;
	background:#fff;
	font-weight:bold;
	}
.tabs li.selected a{
	background:whiteSmoke;
	color:#CC3300;
	}
.tabs li a:focus{outline:none;}


/****************************/
.tabs2{
	margin-bottom:65px;
	
	}
.tabs2 li{
	margin:0;
	}
.tabs2 li a{
	display: inline-block;
    min-width: 54px;
    border: 1px solid gainsboro;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    color:#444;
    font-size: 90%;
    font-weight: bold;
    height: 27px;
    padding: 0 22px;
    margin:0;
    line-height: 27px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -o-transition: all 0.218s;
    transition: all 0.218s;
    background-color: whiteSmoke;
    background-image: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#F1F1F1));
    background-image: -webkit-linear-gradient(top,whiteSmoke,#F1F1F1);
    background-image: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
    background-image: -ms-linear-gradient(top,whiteSmoke,#F1F1F1);
    background-image: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
    background-image: linear-gradient(top,whiteSmoke,#F1F1F1);
	}
.tabs2 li a:hover
{
    border: 1px solid #C6C6C6;
    color: #333;
    -webkit-transition: all 0.0s;
    -moz-transition: all 0.0s;
    -o-transition: all 0.0s;
    transition: all 0.0s;
    background-color: #F8F8F8;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    background-image: linear-gradient(top,#F8F8F8,#F1F1F1);
}
.tabs2 li.selected a{
	background-position: 0% 0%;
    border: 1px solid #CCC;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #333;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(top,#EEE,#E0E0E0);
    background-color: #EEE;
    background-repeat: repeat;
    background-attachment: scroll;
}
.tabs2 li a:focus{outline:none;}
/*******************************/
.tabs2 li a.tabLeft
{
    -webkit-border-radius: 2px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius: 2px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.tabs2 li a.tabRight
{
    -webkit-border-radius: 0px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius: 0px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.tabs2 li a.tabCenter
{
     -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
   
}


/*******************************/



.tab{
	
	background:white;
	overflow:auto;
	overflow-x:hidden;
}


.tab::-webkit-scrollbar
{
    width:12px;
    height:16px;    
}
.tab::-webkit-scrollbar-thumb
{
    width:16px;
    height:16px;    
    background-color:rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.10),inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
.tab::-webkit-scrollbar-button
{
     width: 0;
     height:0;
     display:none;
}
.tab::-webkit-scrollbar-corner
{
     background-color: transparent;
}


.tab .tabcontent
{
    width:100%;
    background:whiteSmoke;
    padding:20px 10px;
    margin:0;
   
}
.tab .tabcontentwhite
{
    width:100%;
    background:white;
    padding:20px 20px 0 1px;
    margin:0;
}
.tab .tabBottom
{
    width:100%;
    height:100px;
}



.imagedropshadow {
	padding: 5px;
	border: solid 1px #EFEFEF;
	border: solid 1px #CCC;
	-moz-box-shadow: 1px 1px 5px #999;
	-webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
    margin:0 10px 0 0;
}
/**************************************************/
.trNoBottomBorder td
{
	border:none;
}
.captionText
{
	font-style: italic;
	color: #777;
	margin: .5em 0;
	font-size: 1.1em;
}

/**************************************************/
.fancyConfirm
{
	max-width:45em;
	text-align:left;
	/*line-height:1.8em;*/
}