﻿<div class="democontent">
   <div class="info">
      <table style="margin-top:10px;">
        <tbody>
            <tr><td><b>Identificación:</b></td><td>WBAAT71080KU07233</td><td><b>Combustible:</b></td><td>Diesel</td></tr>
            <tr><td><b>Marca:</b></td><td>Audi</td><td><b>Cilindrada:</b></td><td>1995 cc</td></tr>
            <tr><td><b>Tipo:</b></td><td>346K</td><td><b>Potencia:</b></td><td>110 KW</td></tr>
            <tr><td><b>Variante:</b></td><td>AT71</td><td><b>Máxima carga:</b></td><td>1895 Kg</td></tr>
            <tr><td><b>Uso</b></td><td>Particular</td><td><b>Máximo de plazas:</b></td><td>5</td></tr>
        </tbody>
      </table>
      
      <p class="note">
         Homologado el 22/12/2004.
      </p>
   </div>
   <div class="clear">&nbsp;</div>
</div>