﻿<div class="democontent">
   <div class="info">
      <table style="margin-top:10px;">
        <tbody>
            <tr><td><b>Identificación:</b></td><td>WBHGT77222JU82172</td><td><b>Combustible:</b></td><td>Gasolina</td></tr>
            <tr><td><b>Marca:</b></td><td>Fiat</td><td><b>Cilindrada:</b></td><td>1995 cc</td></tr>
            <tr><td><b>Tipo:</b></td><td>556G</td><td><b>Potencia:</b></td><td>54 CV</td></tr>
            <tr><td><b>Variante:</b></td><td>AT43</td><td><b>Máxima carga:</b></td><td>1430 Kg</td></tr>
            <tr><td><b>Uso</b></td><td>Particular</td><td><b>Máximo de plazas:</b></td><td>5</td></tr>
        </tbody>
      </table>
      
      <p class="note">
         Homologado el 3/9/1999.
      </p>
   </div>
   <div class="clear">&nbsp;</div>
</div>