﻿<div class="democontent">
   <div class="info">
      <table style="margin-top:10px;">
        <tbody>
            <tr><td><b>Identificación:</b></td><td>WBCCT55684KU213456</td><td><b>Combustible:</b></td><td>Gasolina</td></tr>
            <tr><td><b>Marca:</b></td><td>Piaggio </td><td><b>Cilindrada:</b></td><td>124 cc</td></tr>
            <tr><td><b>Tipo:</b></td><td>544F</td><td><b>Potencia:</b></td><td>110 KW</td></tr>
            <tr><td><b>Variante:</b></td><td>AT54</td><td><b>Máxima carga:</b></td><td>800 Kg</td></tr>
            <tr><td><b>Uso</b></td><td>Particular</td><td><b>Máximo de plazas:</b></td><td>2</td></tr>
        </tbody>
      </table>
      
      <p class="note">
         Homologado el 15/03/2010.
      </p>
   </div>
   <div class="clear">&nbsp;</div>
</div>