﻿<div class="democontent"  style="width:300px;">
   <div class="info">
      <table style="margin-top:10px;">
        <tbody>
            <tr><td><b>Última revisión:</b></td><td>01/09/2008</td></tr>
            <tr><td><b>Revisado por:</b></td><td>Grupo Itevelesa</td></tr>
            <tr><td><b>Caducada el día:</b></td><td>01/09/2011</td></tr>
        </tbody>
      </table>
      <p>
        <b><img title="buscar itv" src="img/search.png" alt="" style="float:left;vertical-align:middle;margin-right:6px;" /><a class="fancybox  various fancybox.iframe" style="font-weight:normal;text-decoration:underline;" href="https://maps.google.es/maps/ms?ie=UTF8&amp;hl=es&amp;msa=0&amp;msid=215203341414301936863.0004800afba4167cbd2eb&amp;source=embed&amp;ll=40.565981,-3.732605&amp;spn=0.834583,1.565552&amp;t=m&amp;output=embed">Buscar un centro para pasar la Itv</a></b>
      </p>
      <script type="text/javascript">
          $('.fancybox').fancybox();
      </script>
   </div>
   <div class="clear">&nbsp;</div>
</div>