﻿<div class="democontent"  style="width:300px;">
   <div class="info">
      <table style="margin-top:10px;">
        <tbody>
            <tr><td><b>Última revisión:</b></td><td>01/09/2011</td></tr>
            <tr><td><b>Revisado por:</b></td><td>Grupo Itevelesa</td></tr>
            <tr><td><b>Válida hasta el:</b></td><td>01/09/2013</td></tr>
        </tbody>
      </table>
      
      
   </div>
   <div class="clear">&nbsp;</div>
</div>