﻿<div class="democontent" style="width:300px;">
   <div class="info">
      <table style="margin-top:10px;width:100%;">
        <tbody>
            <tr><td><b>Primera matriculación:</b></td><td>28/04/2010</td></tr>
            <tr  class="trNoBottomBorder"><td colspan="2"><a style="text-decoration:underline;" href="javascript:EsSoloUnaIdea();">Solicitar cambio de matrícula</a></td></tr>
        </tbody>
      </table>
      
      
   </div>
   <div class="clear">&nbsp;</div>
</div>