﻿<div class="democontent">
   <div class="info" style="width:480px;padding:5px 0 0 5px; ">
      <img alt="" src="img/marialuisa.png" style="float:left;height:120px;" />
      <div style="padding:0;width:340px;float:right;">
        <table style="font-size:15px;" width="100%">
            <tr><td>Teléfono:</td><td><b>637050045</b></td></tr>
            <tr><td>Horario:</td><td>Lunes a viernes 9.00 - 15:00</td></tr>
            <tr><td valign="top">Centro:</td><td valign="top">Centro de Salud Las Rozas.<br />916 37 55 42. <a class="fancybox  various fancybox.iframe" style="text-decoration:underline;" target="_blank" href="https://maps.google.es/maps?q=centro+de+salud+las+rozas&amp;hl=es&amp;sll=40.503554,-3.878517&amp;sspn=0.056452,0.132093&amp;hq=centro+de+salud+las+rozas&amp;t=m&amp;ie=UTF8&amp;hnear=&amp;z=14&amp;iwloc=A&amp;cid=88813944091264347&amp;ll=40.48942,-3.878171&amp;output=embed">Mapa</a>.</td></tr>
        </table>
      </div>
      
   </div>
   <div style="clear:both;padding:0px 0 0 5px;">
        <a style="text-decoration:underline;" href="javascript:EsSoloUnaIdea();">Cambiar mi médico de cabecera</a>.
   
   </div>
      <script type="text/javascript">
          $('.fancybox').fancybox();
      </script>
   <div class="clear">&nbsp;</div>
</div>