﻿<div class="democontent">
   <div class="info">
      <table style="margin-top:10px;width:350px;">
        <tbody>
            <tr><td><b>Aseguradora:</b></td><td>Mapfre (Nif A/28141935)</td></tr>
            <tr><td><b>Póliza nº:</b></td><td>6687446213</td></tr>
            <tr><td><b>Perido validez:</b></td><td>4/4/2010 - 4/4/2011</td></tr>
        </tbody>
      </table>
     <p class="note">
         Contacta con la compañía o contrata un nuevo seguro.
      </p>
      
   </div>
   <div class="clear">&nbsp;</div>
</div>