﻿<div class="democontent">
   <div class="info">
      <table style="margin-top:10px;width:350px;">
        <tbody>
            <tr><td><b>Aseguradora:</b></td><td>MMT Seguros (Nif G28010817)</td></tr>
            <tr><td><b>Póliza nº:</b></td><td>245564</td></tr>
            <tr><td><b>Perido validez:</b></td><td>19/06/2012 - 19/06/2013</td></tr>
        </tbody>
      </table>
      
      
   </div>
   <div class="clear">&nbsp;</div>
</div>