﻿<%@ Page Language="C#" MasterPageFile="Usuarios.Master" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="SentidoComun.usuarios.index" %>

<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server" >
           
			<div class="page-header">
				<h1>Header</h1>
			</div>
            <h3>Subheader</h3>
            <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dignissim euismod venenatis. Sed dictum, lacus vel elementum feugiat, neque mauris posuere neque, in tristique mi dolor non justo. Aliquam dictum ornare libero, sit amet laoreet massa tempus ac. Quisque porta erat a mi fringilla pellentesque. Suspendisse velit augue, placerat at sodales et, eleifend gravida turpis. Suspendisse sit amet felis vel erat aliquam pellentesque. Quisque est metus, mattis ac scelerisque et, scelerisque sit amet metus. Vestibulum bibendum sollicitudin ipsum ut dapibus.
            </p>
            
			
</asp:Content>