﻿<%@ Page Language="C#" MasterPageFile="Usuarios.Master"  AutoEventWireup="true" CodeBehind="seguridadsocial-jubilacion.aspx.cs" Inherits="SentidoComun.usuarios.seguridadsocial_jubilacion" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" Runat="Server" >
            
			<div class="page-header">
				<h1>Jubilación</h1>
			</div>
            <h3>¿Cuando podré jubilarme?</h3>
            <p>
               Podrás jubilarte cuando cumplas <strong>67 años</strong>, te quedan exactamente <strong>12.695 días</strong>
            </p>
            
			

</asp:Content>