﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Usuarios.master.cs" Inherits="SentidoComun.usuarios.Usuarios" %>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Ministerio del Sentido Común</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="administración pública, opendata, ministerio del sentido común" />
	<meta name="description" content="Una idea sobre cómo deberían de ser las gestiones con la administración pública." />
    
    <!-- Le styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      body
      {
      	position:relative;
      }
      .nav-list
      {
      	background-color:White;
      }
    </style>


    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Placed at the end of the document so the pages load faster -->
    <!--script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script-->
    <script src="../js/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/application.js"></script>

    <link rel="shortcut icon" href="../ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../ico/apple-touch-icon-57-precomposed.png">

    <!-- analytics -->
    <!--script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-386914-28']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script-->

  </head>

 <body data-spy="scroll" data-target=".bs-docs-sidebar">
    
    <div class="modal hide fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="H1"></h3>
        </div>
        <div class="modal-body" id="modal-body"></div>
        <div class="modal-footer">
        <button id="btnModalCancelar" class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
        <button id="btnModalAceptar" class="btn btn-primary">Aceptar</button>
        <button id="btnModalCerrar" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cerrar</button>
        </div>
    </div>

    
    
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!--a class="brand" href="../index.aspx">Ministerio del Sentido común</a-->
          <div class="btn-group pull-right">
			<a class="btn" href="micuenta-datospersonales.aspx"><i class="icon-user"></i> Antonio</a>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
			  <li><a href="micuenta-datospersonales.aspx">Mis datos</a></li>
              <li class="divider"></li>
              <li><a href="../"><i class="icon-off" style="display:inline-block"></i> Salir</a></li>
            </ul>
          </div>
          <div class="nav-collapse collapse">
            <!--p class="navbar-text pull-right">
               <a href="#" class="navbar-link">Antonio García Rubio</a>
            </p-->
            <ul class="nav">
              <li class="active"><a href="index.aspx">Inicio</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div class="container" style="margin-top:60px;">
        
      <div class="row">
        
        <div class="span3" class="bs-docs-sidebar" >
            <div class="div-nav-list">
                <ul class="nav nav-list well">
                  <li runat="server" id="liEscritorio"><a href="index.aspx"><i class="icon-home"></i> Escritorio</a></li>
                  <li class="nav-header">Seguridad Social</li>
                  <li runat="server" id="liSanidad"><a href="seguridadsocial-sanidad.aspx"><i class="icon-heart"></i> Sanidad</a></li>
                  <li runat="server" id="liTrabajo"><a href="seguridadsocial-trabajo.aspx"><i class="icon-wrench"></i> Trabajo</a></li>
                  <li runat="server" id="liJubilacion"><a href="seguridadsocial-jubilacion.aspx"><i class="icon-cog"></i> Jubilación</a></li>
                  <li class="nav-header">Tráfico</li>
                  <li runat="server" id="liMultas"><a href="trafico-multas.aspx"><i class="icon-road"></i> Multas y puntos</a></li>
                  <li runat="server" id="liVehiculos"><a href="trafico-vehiculos.aspx"><i class="icon-plane"></i> Vehículos</a></li>
                  <li runat="server" id="liPermisos"><a href="trafico-permisos.aspx"><i class="icon-list-alt"></i> Permisos</a></li>
                  <li class="nav-header">Educación</li>
                  <li><a href="#"><i class="icon-pencil"></i> Link</a></li>
                  <li class="nav-header">Justicia</li>
                  <li><a href="#"><i class="icon-pencil"></i> Link</a></li>
                  <li class="nav-header">Impuestos</li>
                  <li><a href="#"><i class="icon-signal"></i> Link</a></li>
                  <li class="nav-header">Mi cuenta</li>
                  <li runat="server" id="liDatosPersonales"><a href="micuenta-datospersonales.aspx"><i class="icon-user"></i> Datos personales</a></li>
                  <li runat="server" id="liNotificaciones"><a href="micuenta-notificaciones.aspx"><i class="icon-envelope"></i> Notificaciones</a></li>
                  <li runat="server" id="liDatosBancarios"><a href="micuenta-datosbancarios.aspx"><i class="icon-lock"></i> Datos bancarios</a></li>
              
                </ul>
            </div>
        </div>
	
        <div class="span9">
            <!--div class="row-fluid"-->
                <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
            <!--/div-->
        </div>

	
      </div><!--/row-->

      
    </div><!--/.fluid-container-->

    <style type="text/css">
        .footer {
          padding: 70px 0;
          margin-top: 70px;
          border-top: 1px solid #e5e5e5;
          background-color: #f5f5f5;
          
        }
        .footer p {
          margin-bottom: 0;
          color: #777;
        }
        .footer-links {
          margin: 10px 0;
        }
        .footer-links li {
          display: inline;
          margin-right: 10px;
        }

    </style>

    <footer class="footer">
        <div class="container">
            <p>&copy; Ministerio del Sentido Común 2012</p>
            <p>&copy; Ministerio del Sentido Común 2012</p>
            <p>&copy; Ministerio del Sentido Común 2012</p>
        </div>
        
    </footer>
    
    <!--script type='text/javascript'>

        var _ues = {
            host: 'sentidocomun.userecho.com',
            forum: '14393',
            lang: 'es',
            tab_corner_radius: 5,
            tab_font_size: 16,
            tab_image_hash: 'Q29tZW50YXJpb3M%3D',
            tab_alignment: 'right',
            tab_text_color: '#000000',
            tab_bg_color: '#FFCC00',
            tab_hover_color: '#ff9601'
        };

        (function () {
            var _ue = document.createElement('script'); _ue.type = 'text/javascript'; _ue.async = true;
            _ue.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.userecho.com/js/widget-1.4.gz.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(_ue, s);
        })();

    </script-->

   
  </body>
</html>
